.app {
max-width: 500px;
padding: 3rem 1rem;
margin: 0 auto;
}

h1 {
    padding: 2rem 4rem;
    display: flex;
    text-align: center;
    color: #ffffff;

}


form {
display: flex;
flex-direction: column;
gap: 0.75px;
background: linear-gradient(180deg, #a3a0f5 0%, rgba(214, 213, 255, 0.8) 100%);
border-radius: 1rem;
margin-bottom: 2rem;
padding: 2rem;
}

form input, form button {
padding: 1rem;
margin: 0.5rem;
border-radius: 1rem;
font-size: 1rem;
border: 1px solid#ffffff;


}

form input {
background: rgb(240, 240, 240);



}

form button {
 background: linear-gradient(180deg, #8784d6 0%, rgba(68, 67, 180, 0.8) 100%);
 color:#fff;
 cursor: pointer;
 font-weight: 500;
}

form button:hover {
    opacity: 0.8;
   background-color: rgb(243, 243, 243);
}

.user-list {

display: flex;
flex-direction: column;
gap: 0.75px;
background: linear-gradient(180deg, #a3a0f5 0%, rgba(214, 213, 255, 0.8) 100%);
border-radius: 1rem;
margin-bottom: 2rem;
padding: 2rem;
}




